<div class="form-container">

  <div class="form-container">
    <h2>Emitir efirma</h2>
    <!-- <div [formGroup]="myGroup" >
        <div *ngFor="let control of respuestas; let i = index">
          <mat-form-field appearance="fill">
            <mat-label>Archivo {{ i + 1 }}</mat-label>
            <input type="file" matInput [formControlName]="'multiplefile' + i" (change)="onFileChange($event, i)" />
          </mat-form-field>
          <small>Sube el archivo correspondiente</small>
        </div>
    
        <button mat-raised-button color="primary" type="submit">Enviar</button>
      </div> -->

      <mat-card>
        <mat-card-content>
          <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
            <!-- Archivo 1 -->
            <div class="file-input">
              <label>Archivo Cer</label>
              <input type="file"  (change)="onFileSelected($event, 'file1')" accept=".cer" />
              <mat-error *ngIf="formulario.get('file1')?.invalid && formulario.get('file1')?.touched">
                Archivo requerido
              </mat-error>
            </div>
      
            <!-- Archivo 2 -->
            <div class="file-input">
              <label>Archivo Key</label>
              <input type="file" (change)="onFileSelected($event, 'file2')" accept=".key" />
              <mat-error *ngIf="formulario.get('file2')?.invalid && formulario.get('file2')?.touched">
                Archivo requerido
              </mat-error>
            </div>
      
            <!-- Archivo 3 -->
            <div class="file-input">
              <label>Archivo a firmar</label>
              <input type="file" (change)="onFileSelected($event, 'file3')" accept=".pdf,.doc,.docx" />
              <mat-error *ngIf="formulario.get('file3')?.invalid && formulario.get('file3')?.touched">
                Archivo requerido
              </mat-error>
            </div>
      
            <!-- Archivo 4 -->
      
      
            <!-- Contraseña -->
       
              <!-- Contraseña -->
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" formControlName="password" />
        <mat-error *ngIf="formulario.get('password')?.invalid && formulario.get('password')?.touched">
          Contraseña requerida
        </mat-error>
      </mat-form-field>
      
            <!-- Botón de envío -->
            <div class="actions">
              <button mat-raised-button color="primary" type="submit"  [disabled]="formulario.invalid">
                Enviar
              </button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
      
      
  </div>
</div>
